---
import Icon from 'astro-icon';
const mySkills = [
  {
    title: 'Software Development',
    description:
      'Proficient in designing, developing, and maintaining high-quality software solutions',
    icon: {
      pack: 'ph',
      name: 'code-thin',
      class: 'w-12 m-auto md:ml-4 text-red-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-red-200',
  },
  {
    title: 'Leadership',
    description:
      'Experienced in leading and managing development teams to achieve project goals.',
    icon: {
      pack: 'ph',
      name: 'handshake-thin',
      class: 'w-12 m-auto md:ml-4 text-blue-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-blue-200',
  },
  {
    title: 'Technical Problem Solving',
    description:
      'Capable of analyzing complex technical challenges and delivering effective solutions.',
    icon: {
      pack: 'ph',
      name: 'intersect-thin',
      class: 'w-12 m-auto md:ml-4 text-green-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-green-200',
  },
  {
    title: 'Agile Methodologies',
    description:
      'Practitioner of Agile and Scrum methodologies for efficient project management.',
    icon: {
      pack: 'ph',
      name: 'path-thin',
      class: 'w-12 m-auto md:ml-4 text-yellow-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-yellow-200',
  },
  {
    title: 'Web Development',
    description:
      'Expertise in creating dynamic and responsive web applications.',
    icon: {
      pack: 'ph',
      name: 'globe-hemisphere-west-thin',
      class: 'w-12 m-auto md:ml-4 text-purple-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-purple-200',
  },
  {
    title: 'Version control',
    description:
      'Expertise in creating dynamic and responsive web applications.',
    icon: {
      pack: 'ph',
      name: 'git-branch-thin',
      class: 'w-12 m-auto md:ml-4 text-cyan-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-cyan-200',
  },
  {
    title: 'Performance Optimization',
    description:
      'Optimizing applications for better performance and scalability.',
    icon: {
      pack: 'ph',
      name: 'app-window-thin',
      class: 'w-12 m-auto md:ml-4 text-teal-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-teal-200',
  },
  {
    title: 'Passion for Learning',
    description:
      'Committed to continuous learning and self-improvement in the ever-evolving tech landscape.',
    icon: {
      pack: 'ph',
      name: 'book-bookmark-thin',
      class: 'w-12 m-auto md:ml-4 text-orange-500',
    },
    class:
      'box w-full lg:w-[49%] mb-4 flex flex-col text-center md:text-left md:flex-row rounded-xl bg-opacity-30 p-2 bg-orange-200',
  },
];
---

<section id='about' role='tabpanel' aria-labelledby='about-tab'>
  <div
    class='flex flex-col w-full shadow-2xl rounded-xl p-10 bg-white h-full mb-5'
  >
    <span
      class='animate-fade-down animate-once animate-duration-500 animate-ease-in-out animate-normal animate-fill-both'
    >
      <h3
        class='text-4xl font-semibold flex flex-col md:flex-row md:inline-flex'
      >
        About Me <hr
          class='h-1 w-40 mt-5 ml-2 rounded-lg bg-gradient-to-r from-sky-300 to-sky-600'
        />
      </h3>
      <p class='mt-4 font-normal text-justify'>
        With over 6 years of experience in software development, including
        leadership roles, I'm a computer engineering graduate passionate about
        technology. I excel in full-stack development, solving complex problems,
        and using Agile methodologies for efficient project management. I'm
        skilled in web development, API integration, and database design.
        Continuous learning, innovation, and a commitment to quality drive my
        work. Let me show you all the exciting things that reflect my dedication
        to pushing the boundaries of technology.
      </p>
      <h3 class='text-3xl font-semibold inline-flex mt-10'>Skills</h3>
      <div class='what-i-do flex mt-10'>
        <div class='flex flex-row flex-wrap justify-between w-full'>
          {
            mySkills.map((skill) => (
              <div class={skill.class}>
                <div>
                  <Icon
                    pack={skill.icon.pack}
                    name={skill.icon.name}
                    class={skill.icon.class}
                  />
                </div>
                <div class='mb-4 md:ml-6'>
                  <h4 class='font-semibold mt-2 mb-2 text-2xl'>
                    {skill.title}
                  </h4>
                  <p class='text-md text-gray-600 text-center md:text-justify'>{skill.description}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <hr class='mt-1' />
    </span>
  </div>
</section>
