---
import Icon from 'astro-icon';
const myProjects = {
  firstColumn: [
    {
      title: 'Pokedex',
      description:
        'The purpose of this project is to showcase a simple Pokedex application built with JavaScript.',
      image: '/projects/pokedex.webp',
      url: 'https://github.com/DylasX/pokedex-wwc',
    },
    {
      title: 'Vivefit',
      description: 'App to match people with virtual trainers.',
      image: '/projects/vivefit.webp',
      url: '#',
    },
    {
      title: 'Tamagotchi',
      description:
        'This is a simple Tamagotchi simulation created using the p5.js library.',
      image: '/projects/tamagotchi.webp',
      url: 'https://github.com/DylasX/tamagotchi-p5js',
    },
    {
      title: 'Games with JS',
      description:
        'This is a collection of games done in less than a hour only using JS.',
      image: '/projects/games.webp',
      url: 'https://github.com/DylasX/GamesChallenges',
    },
  ],
  secondColumn: [
    {
      title: 'hackU',
      description:
        'hackU is a educational startup with more than 100k active users',
      image: '/projects/hacku.webp',
      url: 'https://hacku.com',
    },
    {
      title: 'Portfolio',
      description:
        'The purpose of this project is to showcase my skills, projects, and experience.',
      image: '/projects/portfolio.webp',
      url: '#',
    },
    {
      title: 'More projects',
      description: 'Look all my projects here.',
      image: '/projects/github.webp',
      url: 'https://github.com/DylasX/',
    },
  ],
};
---

<section id='projects' role='tabpanel' aria-labelledby='projects-tab'>
  <div
    class='flex flex-col w-full shadow-2xl rounded-xl p-10 bg-white h-full mb-5'
  >
    <span
      class='animate-fade-down animate-once animate-duration-500 animate-ease-in-out animate-normal animate-fill-both'
    >
      <h3
        class='text-4xl font-semibold flex flex-col md:flex-row md:inline-flex'
      >
        Projects <hr
          class='h-1 w-40 mt-5 ml-2 rounded-lg bg-gradient-to-r from-sky-300 to-sky-600'
        />
      </h3>
      <p class='mt-4 font-normal text-justify'>
        Welcome to the Projects section of my portfolio! Here, you can explore a
        collection of my past and current projects that showcase my skills,
        creativity, and problem-solving abilities. From web applications games
        and everything in between, these projects highlight my journey as a
        developer and my passion for building innovative solutions.
      </p>
      <h3 class='text-3xl font-semibold inline-flex mt-10'>Last work</h3>
      <div class='what-i-do flex mt-10'>
        <div class='flex flex-row flex-wrap justify-between w-full'>
          <div class='grid grid-cols-2 md:grid-cols-2 gap-4'>
            <div class='grid gap-4'>
              {
                myProjects.firstColumn.map((project) => (
                  <div class='relative shadow-lg'>
                    <div class='hidden absolute md:block h-4 md:h-32 w-full bottom-0 text-center p-4 overflow-scroll md:overflow-hidden z-20 bg-sky-400  text-white'>
                      <h2 class='text-xl font-extrabold'>{project.title}</h2>
                      <p class='text-md'>{project.description}</p>
                    </div>
                    <a href={project.url} class="hover:brightness-75" target='_blank'>
                      <img
                        class='h-auto m-auto max-w-full rounded-lg  z-10'
                        src={project.image}
                        alt={project.description}
                      />
                    </a>
                  </div>
                ))
              }
            </div>
            <div class='grid gap-4'>
              {
                myProjects.secondColumn.map((project) => (
                  <div class='shadow-lg relative rounded-md'>
                    <div class='hidden absolute md:block h-4 md:h-28 w-full bottom-0 text-center p-4 overflow-scroll md:overflow-hidden z-20 bg-sky-400  text-white'>
                      <h2 class='text-xl font-extrabold'>{project.title}</h2>
                      <p class='text-md'>{project.description}</p>
                    </div>
                    <a href={project.url} target='_blank'>
                      <img
                        class='h-auto max-w-full m-auto rounded-lg hover:brightness-75 z-10'
                        src={project.image}
                        alt={project.description}
                      />
                    </a>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <hr class='mt-1' />
    </span>
  </div>
</section>
